# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nidhi\OneDrive\Desktop\UMich\SEM2\CIS 571- WEB SERVICES\projects\project1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
